#server
server/system/config.php
api/.htaccess
.buildpath
.settings
.project

#netbeans default :
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#client
/client/pages/css/unused/
/client/libs/frameworks/telerik.kendoui.web.2014.1.318.open-source/examples/
/client/pages/js/Templates/createLabTemplate_old.html
/server/system/config.php

