<!-- create lab external template -->

<script id="create_lab_template" type="text/x-kendo-template">

<div style="width: 1000px; height: 750px">
    <div id="cl" class="form-horizontal form-widgets col-md-11">

        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="SchoolUnit">Σχολική Μονάδα<span style="color:red">*</span></label>
            </div>
            <div class="col-md-4">
                <input  id="cl_school_unit"
                        name="SchoolUnit"
                        data-role="combobox"
                        data-auto-bind="false"
                        data-bind="source: ds_school_units, value: school_unit"
                        data-value-field="school_unit_id"
                        data-min-length="3"
                        data-text-field="textTemplate"
                        data-filter="contains"
                        style="width: 100%"
                />
            </div>
        </div>

        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="LabType">Τυπος<span style="color:red">*</span></label>
            </div>       
            <div class="col-md-4">
                <input  id="cl_lab_type" 
                        name="LabType"
                        data-bind="source: ds_lab_types, value:lab_type"
                        data-auto-bind="false"
                        data-value-field="lab_type_id"
                        data-text-field="name"
                        data-role="combobox"
                        style="width: 100%"
                />
            </div>
        </div>

        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="LabWorker">Υπεύθυνος</label>
            </div>  
            <div class="col-md-4">
                <input id="cl_lab_worker"
                        name="LabWorker"
                        data-role="combobox"
                        data-auto-bind="false"
                        data-bind="source: ds_lab_workers, value:lab_worker"
                        data-text-field="fullname"
                        data-value-field="registry_no"
                        data-min-length="3"
                        data-filter="contains"
                        style="width: 100%"
                />
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-horizontal form-widgets col-md-11">
        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="WorkerStartService">Ημερομηνία Ανάληψης Ευθύνης</label>
            </div>
            <div class="col-md-4">
                <input  id="cl_worker_start_service"
                        name="WorkerStartService"
                        data-bind="value: worker_start_service" 
                        data-role="datepicker"
                        data-format="yyyy-MM-dd"
                        style="width: 100%"
                />
            </div>
        </div>

        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="RelationServedService">Εξυπηρετεί υπηρεσιακά</label>
            </div>    
            <div class="col-md-4">
                <select id="cl_relation_served_service"
                        name="RelationServedService"
                        data-role="multiselect"
                        data-value-primitive="true"
                        data-bind="source: ds_served_school_units, value: relation_served_service"
                        data-auto-bind="false"
                        data-value-field="school_unit_id"
                        data-text-field = "name"
                        data-min-length="3"
                        style="width: 100%">
                </select>
            </div>
        </div>


        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="RelationServedOnline">Εξυπηρετείται διαδικτυακά</label>
            </div>
            <div class="col-md-4">
                <input  id="cl_relation_served_online"
                        name="RelationServedOnline"
                        data-role="combobox"
                        data-auto-bind="false"
                        data-bind="source: ds_circuits, value: relation_served_online"
                        data-value-field="serverValue"
                        data-min-length="3"
                        data-text-field="fulltemplate"
                        data-template="create_lab_served_online_template"
                        data-filter="contains"
                        style="width: 100%"
                />
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-horizontal form-widgets col-md-11">
        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="Positioning">Τοποθεσία</label>
            </div>
            <div class="col-md-4">
                <textarea id="cl_positioning"
                        name="Positioning"
                        class="k-textbox"
                        data-bind="value:positioning"
                        style="width: 100%">
                </textarea>
            </div>
        </div>


        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="SpecialName">Ειδικό Όνομα</label>
            </div>
            <div class="col-md-4">
                <input  id="cl_special_name"
                        name="SpecialName"
                        class="k-input k-textbox"
                        data-bind="value:special_name"
                        style="width: 100%"
                />
            </div>
        </div>

        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="OperationalRating">Λειτουργική Βαθμολογία</label>
            </div>
            <div class="col-md-4">
                <input  id="cl_operational_rating"
                        name="OperationalRating"
                        data-bind="source: ds_rating, value:operational_rating"
                        data-value-field="id"
                        data-text-field="name"
                        data-role="combobox"
                        style="width: 100%"
                />
            </div>
        </div>


        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="TechnologicalRating">Τεχνολογική Βαθμολογία</label>
            </div>
            <div class="col-md-4">
                <input  id="cl_technological_rating"
                        name="TechnologicalRating"
                        data-bind="source: ds_rating, value:technological_rating"
                        data-value-field="id"
                        data-text-field="name"
                        data-role="combobox"
                        style="width: 100%"
                />
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-horizontal form-widgets col-md-11">
        <div class='form-group'>
            <div class="col-md-3 k-edit-label">
                <label for="TransitionDate">Ημερομηνία Ενεργοποίησης<span style="color:red">*</span></label>
            </div>
            <div class="col-md-4">
                <input  id="cl_transition_date"
                        name="TransitionDate"
                        data-bind="value: transition_date" 
                        data-role="datepicker"
                        data-format="yyyy-MM-dd"
                        style="width: 100%"
                />
            </div>
        </div>

        <div class='form-group'>
            <div class="col-md-2 k-edit-label">
                <label for="">Πηγή Χρηματοδότησης</label>
            </div>
            <div class="col-md-8">
                <div id="cl_aquisition_sources"
                     data-role="grid"
                     data-bind="source:aquisition_sources, events: { edit: editAquisitionSource, save: saveAquisitionSource, remove: removeAquisitionSource}"
                     data-toolbar="[{ 'name' : 'create', 'text' : 'Προσθήκη'}]"
                     data-scrollable="false"
                     data-selectable="false"
                     data-editable="inline"
                     data-columns="[{'field': 'name', 'title':'πηγή', 'editor': LabsViewVM.nameColumnEditor, 'width':'30%'}, 
                                   {'field': 'aquisition_year', 'title':'χρονολογια', 'editor' : LabsViewVM.yearColumnEditor, 'width':'10%'},
                                   {'field': 'comments', 'title':'σχόλια', 'editor' : LabsViewVM.commentsColumnEditor, 'width':'30%'},
                                   {'command': [{'name': 'edit' }, {'name': 'destroy' }], 'title': 'ενέργειες', 'width': '30%'}]">

                </div>
            </div>
        </div>

        <div class='form-group'>
            <div class="col-md-2 k-edit-label">
                <label for="">Εξοπλισμός</label>
            </div>
            <div class="col-md-8">
                <div id="cl_equipment_types" name="EquipmentTypes"
                     data-role="grid"
                     data-bind="source:equipment_types, events:{edit: editEquipment, save: saveEquipment, remove: removeEquipment}"
                     data-toolbar="[{'name': 'create', text: 'Προσθήκη' }]"
                     data-scrollable="false"
                     data-selectable="false"
                     data-editable="inline"
                     data-columns="[{'field': 'name', 'title':'εξοπλισμός', 'editor': LabsViewVM.equipmentTypeColumnEditor, 'width': '50%'}, 
                                {'field': 'items','title':'πλήθος', 'format': '{0:n0}', 'width': '20%' },
                                {'command': [{'name': 'edit'}, {'name': 'destroy'}], 'title': 'ενέργειες', 'width': '30%'}]">
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
</script>