<!-- disable lab worker template -->

<script id="disable_lab_worker_template" type="text/x-kendo-template">
    
<div id="dlw" class="form-horizontal form-widgets col-md-11">

    <div class='form-group'>
        <div class="col-md-9" style="margin:10px 15px;">
            Είστε βέβαιος ότι επιθυμείτε να απενεργοποιήσετε τον παρόντα Υπεύθυνο Εργαστηρίου;
        </div>
    </div>

    <div class="k-edit-buttons k-state-default">
        <a class="k-button k-button-icontext k-grid-disable" href="\#">
            <span class="k-icon k-update"></span>Απενεργοποίηση
        </a>
        <a class="k-button k-button-icontext k-grid-cancel-disabling" href="\#">
            <span class="k-icon k-cancel"></span>Άκυρο
        </a>
    </div>    
    
</div>

</script>