<script type="text/x-kendo-tmpl" id="general_info_template">
    <div>
        #if(jQuery.inArray( authorized_user , edit_lab_details ) !== -1 && lab_state_id === 1){ #
            <div style="margin:10px">
                <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span> Επεξεργασία</a>
            </div>
        #}#
        <dl style="margin:10px">
            <dt><i class="fa fa-tag" style="padding-right:5px"></i>Ειδική Ονομασία</dt>
            #if(lab_special_name !== null && lab_special_name !== ""){# 
                <dd>#:lab_special_name#</dd>
            #}else{#
                <dd> --δεν έχει οριστεί-- </dd>
            #}#
        
            <dt><i class="fa fa-map-marker" style="padding-right:5px"></i>Τοποθεσία</dt>
            #if(positioning !== null && positioning !== ""){# 
                <dd>#:positioning#</dd>
            #}else{#
                <dd> --δεν έχει οριστεί-- </dd>
            #}#
        
            #if((lab_type === "ΣΕΠΕΗΥ" || lab_type === "ΕΤΠ") && (ellak == 0 || ellak == null)){#
                <dt><i class="fa fa-times " style="padding-right:5px"></i>ΕΛΛΑΚ</dt>
            #}else if((lab_type === "ΣΕΠΕΗΥ" || lab_type === "ΕΤΠ") && ellak == 1){ #
                <dt><i class="fa fa-check-square-o " style="padding-right:5px"></i>ΕΛΛΑΚ</dt>
            #}#

            <dt><i class="fa fa-calendar" style="padding-right:5px"></i>Ημερομηνία Δημιουργίας</dt> <dd>#:creation_date#</dd>
            
        </dl>
    </div>
 </script>