<script id="lab_create_template" type="text/x-kendo-template">
    <div style="width: 600px;">
        <div id="cl" class="form-horizontal form-widgets col-md-11">

            <div class='form-group'>
                <div class="col-md-3 k-edit-label">
                    <label for="school_unit">Σχολική Μονάδα<span style="color:red">*</span></label>
                </div>
                <div class="col-md-7">
                    <input  id="cl_school_unit"
                            name="school_unit"
                            data-role="combobox"
                            data-auto-bind="false"
                            data-bind="source: ds_school_units, value: school_unit_id"
                            data-value-field="school_unit_id"
                            data-min-length="3"
                            data-text-field="text_field_template"
                            data-filter="contains"
                            style="width: 100%"
                    />
                </div>
            </div>

            <div class='form-group'>
                <div class="col-md-3 k-edit-label">
                    <label for="lab_type">Τυπος<span style="color:red">*</span></label>
                </div>       
                <div class="col-md-7">
                    <input  id="cl_lab_type" 
                            name="lab_type"
                            data-bind="source: ds_lab_types, value: lab_type"
                            data-auto-bind="false"
                            data-value-field="lab_type_id"
                            data-text-field="name"
                            data-role="combobox"
                            style="width: 100%"
                    />
                </div>
            </div>


            <div class='form-group'>
                <div class="col-md-3 k-edit-label">
                    <label for="positioning">Τοποθεσία</label>
                </div>
                <div class="col-md-7">
                    <textarea id="cl_positioning"
                            name="positioning"
                            class="k-textbox"
                            data-bind="value: positioning"
                            style="width: 100%; max-width: 338px;">
                    </textarea>
                </div>
            </div>

            <div class='form-group'>
                <div class="col-md-3 k-edit-label">
                    <label for="special_name">Ειδικό Όνομα</label>
                </div>
                <div class="col-md-7">
                    <input  id="cl_special_name"
                            name="special_name"
                            class="k-input k-textbox"
                            data-bind="value: special_name"
                            style="width: 100%"
                    />
                </div>
            </div>

            <div class='form-group'>
                <div class="col-md-3 k-edit-label">
                    <label for="transition_date">Ημερομηνία Ενεργοποίησης<span style="color:red">*</span></label>
                </div>
                <div class="col-md-7">
                    <input  id="cl_transition_date"
                            name="transition_date"
                            data-bind="value: transition_date" 
                            data-role="datepicker"
                            data-format="yyyy-MM-dd"
                            style="width: 100%"
                    />
                </div>
            </div>             
            
        </div>

    </div>
</script>