<!-- lab details external template -->

<script id="lab_details_template" type="text/x-kendo-template">

<div id='lab_details_tabstrip'>
    <ul id='lab_details_tabstrip_headers'>
        <li id='equipment_tabstrip_header' class='k-state-active'><i class="fa fa-desktop"></i> Εξοπλισμός</li>
        <li id='aquisition_sources_tabstrip_header'><i class="fa fa-eur"></i> Πηγές Χρηματοδότησης</li>
        <li id='lab_workers_tabstrip_header'><i class="fa fa-user"></i> Υπεύθυνοι</li>
        <li id='lab_relations_tabstrip_header'><i class="fa fa-link"></i> Συσχετίσεις</li>
        <li id='lab_transitions_tabstrip_header'><i class="fa fa-random"></i> Μεταβάσεις</li>
        <li id='lab_general_info_tabstrip_header'><i class="fa fa-info"></i> Γενικές Πληροφορίες</li>
        <li id='lab_rating_tabstrip_header'><i class="fa fa-star"></i> Βαθμολογία</li>        
    </ul>
    <div>
        <div id='equipment_details'></div>
    </div>
    <div>
        <div id='aquisition_sources_details'></div>       
    </div>
    <div>
        <div id='lab_workers_details'></div>
        <div id='lab_workers_logs' data-bind="visible: labWorkersLogsVisible" style="margin-top:30px"></div>
    </div>
    <div>
        <div id='lab_relations_details'></div>
    </div>
    <div>
        <div id='lab_transitions_details'></div>
    </div>
    <div>
        <div id='lab_general_info_details'></div>
    </div>
    <div>
        <div id='lab_rating_details'></div>
    </div>
</div>

</script>


<!--
        <div id='lab_workers_logs' data-bind="visible: labWorkersLogsVisible" style="margin-top:30px"></div>

-->