<!-- submit lab template -->

<script id="lab_submit_template" type="text/x-kendo-template">
<div id="sl" class="form-horizontal form-widgets col-md-11" style="padding:0px20px;">
    <div class='form-group'>
        Επιλέξατε Οριστική Υποβολή της Διάταξης Η/Υ <b> #=lab_name# </b>.
    </div>
    
    <div class='form-group'>
        Σας υπενθυμίζουμε ότι αυτή τη στιγμή, η Διάταξη Η/Υ ειναι προσωρινά
        αποθηκευμένη στην Υπηρεσία MyLab και ως εκ τούτου η ύπαρξή της δεν 
        έχει επισημοποιηθεί. Με την Οριστική Υποβολή, επιλέγετε να δημιουργήσετε
        επίσημα τη Διάταξη Η/Υ αυτή στην Υπηρεσία MyLab ώστε τα στοιχεία της να
        είναι διαθέσιμα προς χρήση σε άλλους χρήστες της Υπηρεσίας όπως
        Χρήστες του Υπουργείου Παιδείας, Κεπληνετ, στον Υπεύθυνο της Διάταξης Η/Υ
        κλπ.
    </div>
    
    <div class='form-group'>
        Σας ενημερώνουμε ότι μετά την Υποβολή, <b>ΔΕΝ</b> θα έχετε τη δυνατότητα να 
        διαγράψετε τη Διάταξη Η/Υ <b>#=lab_name#</b>. Σε περίπτωση που δεν είστε βέβαιοι
        μην προβείτε σε Οριστική Υποβολή. 
    </div>
                
    <div class='form-group'>
    
        Μόλις υποβάλετε, η Διάταξη Η/Υ <b>#=lab_name#</b> θα μεταβεί σε κατάσταση ΕΝΕΡΓΗ.
        Οι δυνατές ενέργειες πάνω στη Διάταξη Η/Υ θα είναι οι:
        <ul>
            <li>Ενεργοποίηση, αν η Διάταξη Η/Υ βρίσκεται σε Αναστολή </li>
            <li>Αναστολή, αν η Διάταξη Η/Υ ειναι Ενεργή και διακοπεί προσωρινά η 
                      λειτουργία της</li>
            <li>Κατάργηση, αν η Διάταξη Η/Υ ειναι Ενεργή ή Σε Αναστολή και διακοπεί 
                       οριστικά η λειτουργία της</li>
        </ul>
    </div>

        <div class='form-group'>
            <b>Προσοχή</b>: Κατάργηση ΔΕΝ σημαίνει Διαγραφή της Διάταξης Η/Υ.
        </div>

    <div class="k-edit-buttons k-state-default">
        <button class="k-button k-button-icontext k-grid-submit">
            <span class="k-icon k-update"></span>Οριστική Υποβολή
        </button>
        <button class="k-button k-button-icontext k-grid-cancel-submit">
            <span class="k-icon k-cancel"></span>Άκυρο
        </button>
    </div>    
    
</div>

</script>