<script id="labs_grid_command_column_template" type="text/x-kendo-template">   
      
    <a class="k-button k-button-icontext k-grid-activate" href="\#" data-bind="click: transitLab"><i class="fa fa-check"></i> Ενεργοποίηση </a>
    <a class="k-button k-button-icontext k-grid-suspend" href="\#" data-bind="click: transitLab"><i class="fa fa-clock-o"></i> Αναστολή </a>
    <a class="k-button k-button-icontext k-grid-abolish" href="\#" data-bind="click: transitLab"><i class="fa fa-ban"></i> Κατάργηση </a>
    
</script>


<!--
    <a class="k-button k-button-icontext k-grid-edit" href="\\#"><span class="k-icon k-edit"></span>Edit</a>
    # if(foo % 2 == 0) { #
        <a class="k-button k-grid-even">Even</a>
    # } else { #
        <a class="k-button k-grid-odd">Odd</a>
    # } #

-->


<!--

Αν η Διάταξη Η/Υ ειναι υποβεβλημένη εμφάνισε τις ενέργειες μετάβασης λειτουργίας
Αν η Διάταξη Η/Υ ΔΕΝ ειναι υποβεβλημένη εμφάνισε τις ενέργειες διαγραφής/οριστικής λειτουργίας    

    <i class="fa fa-check"></i>
    <i class="fa fa-clock-o"></i>
    <i class="fa fa-ban"></i>
-->