<!-- transit lab template -->

<script id="lab_transit_template" type="text/x-kendo-template">
<div id="tl" class="form-horizontal form-widgets col-md-11">
    <div class='form-group'>
        <div class="col-md-4">
            <label id="TransitDate" for="TransitDate">Ημερομηνία<span style="color:red">*</span></label>
        </div>
        <div class="col-md-4">
            <input  id="cl_transit_date"
                    name="TransitDate"
                    style="width: 100%"
            />
        </div>
    </div>

    <div class='form-group'>
        <div class="col-md-4">
            <label id="TransitJustification" for="TransitJustification">Αιτιολογία<span style="color:red">*</span></label>
        </div>
        <div class="col-md-11">
            <textarea id="cl_justification"
                    name="TransitJustification"
                    class="k-textbox"
                    style="width: 100%; max-width: 431px;"></textarea>
        </div>
    </div>

    <div class="k-edit-buttons k-state-default">
        <button class="k-button k-button-icontext k-grid-transit">
            <span class="k-icon k-update"></span>Μετάβαση
        </button>
        <button class="k-button k-button-icontext k-grid-cancel-transition">
            <span class="k-icon k-cancel"></span>Άκυρο
        </button>
    </div>    
    
</div>

</script>
