<script type="text/x-kendo-template" id="lab_toolbar_template_labs_view">

    <a class="k-button k-button-icontext k-grid-add" href="\#">
        <span class="k-icon k-add"></span>
        Προσθήκη Νέας Διάταξης Η/Υ
    </a>
    
    <button class="export_to_xlsx k-button" data-bind="click: exportToXLSX" style="float:right; margin-left:30px;">Export to XLSX</button>
    
    <div class="results_info">
        <ul class="list-inline lab_types_count">
            <li><label>ΣεπεΗΥ: <span data-bind="text: sepehy" /></label></li>
            <li><label>ΕΤΠ: <span data-bind="text: etp" /></label></li>
            <li><label>Διαδραστικά Συστήματα: <span data-bind="text: diadrastiko" /></label></li>
            <li><label>Γωνιές: <span data-bind="text: gwnia" /></label></li>
            <li><label>Τροχήλατα: <span data-bind="text: troxilato" /></label></li>
        </ul>
    </div>

</script>