<script type="text/x-kendo-template" id="lab_toolbar_template">

    <a class="k-button k-button-icontext k-grid-add" href="\#">
        <span class="k-icon k-add"></span>
        Προσθήκη Νέας Διάταξης Η/Υ
    </a>

    <div class="results_info">
        <ul class="list-inline lab_types_count">
            <li><label for="category">ΣεπεΗΥ: <span data-bind="text: sepehy_count" /></label></li>
            <li><label for="category">ΕΤΠ: <span data-bind="text: etp_count" /></label></li>
            <li><label for="category">Γωνιές: <span data-bind="text: gwnies_count" /></label></li>
            <li><label for="category">Τροχήλατα: <span data-bind="text: troxilata_count" /></label></li>
            <li><label for="category">Διαδραστικά Συστήματα: <span data-bind="text: diadrastika_sistimata_count" /></label></li>
        </ul>
    </div>    
    
</script>

<!--<label class="labs_count_label" for="category">Διατάξεις Η/Υ: <span data-bind="text: labs_count" /></label> -->