<script type="text/x-kendo-template" id="school_units_column_selection_template">
    <div class="column_selection" style="margin-right:5px">
        #if(typeof item.command === 'undefined') {#
            <label for='field-#= item.field #'>
                #if(typeof item.hidden === 'undefined' || item.hidden === false) {#
                    <input type='checkbox' id='field-#= item.field #' checked onclick='SchoolUnitsViewVM.toggleColumn("#=idx#")'>
                #}else{#
                    <input type='checkbox' id='field-#= item.field #' onclick='SchoolUnitsViewVM.toggleColumn("#=idx#")'>
                #}#
                #= item.title ? item.title : item.field #
            </label>
        #}#
    </div>
</script>