<script type="text/x-kendo-tmpl" id="edit_rating_template">
    <div>
        <div style="margin:10px">
            <a class="k-button k-update-button" href="\\#"><span class="k-icon k-update"></span> Ενημέρωση</a>
            <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span> Ακύρωση</a>
        </div>
        <dl style="margin:10px">
            <dt>Τεχνολογικός Δείκτης</dt>
            <dd>
                <input data-role="numerictextbox" data-min="1" data-max="5" data-format="{0:n0}" data-bind="value: technological_rating" data-type="number" name="technological_rating" />
            </dd>
            <dt>Λειτουργικός Δείκτης</dt>
            <dd>
                <input data-role="numerictextbox" data-min="1" data-max="5" data-format="{0:n0}" data-bind="value: operational_rating" data-type="number" name="operational_rating" />
            </dd>
        </dl>
    </div>
</script>