.lab-details-row blockquote {
    border-left: medium none;
    color: #6B6363 !important;
    cursor: pointer;
    display: block;
    font-size: 15px !important;
    /*font-weight: bold;*/
    /*padding: 0;*/
    margin: 0 0 5px;
}

.lab-details-row blockquote i {
    display: inline-block !important;
    margin: 2px 5px 0 0 !important;
    width: 16px;
}

#no-labs-msg, #no-aquisition_sources-msg, #no-responsible-msg, #no-relations-msg, #no-transitions-msg{
    text-align: center;
}

#no-computational-equipment-msg, #no-network-equipment-msg, #no-peripheral-devices-msg{
    margin-top: 30px;
    text-align: center;
}

#edit_lab_equipment, #preview_lab_equipment, #save_lab_equipment,
#save_aquisition_sources, #edit_aquisition_sources, #save_responsibles, 
#preview_lab_responsible, #edit_responsibles, #save_relations, 
#edit_relations, #preview_relations, #preview_aquisition_sources, 
#edit_general, #save_general, #edit_rating, #save_rating{
    margin-left: 43px;
}

/*#general_block{
   margin-left: 50px; 
}*/

#edit_responsible span{
    display: inline-block;
}

.edit_success_msg{
    background-color: #F5F5F5;
    color: #54C47A;
    font-weight: bold;
    margin-left: 20px;
    padding: 3px;
}

.edit_failure_msg{
    background-color: #F5F5F5;
    color: #EF6262;
    font-weight: bold;
    margin: 20px 0px 0px 20px;
    padding: 3px;
}

.edit_lab{
    margin-right: 0px 20px 20px 0px;
}


.alert-success-custom{
    /*background-color: inherit;*/
    margin: 20px 20px 20px 0 !important;
    padding: 5px !important;
}

.alert-custom-resp{
    /*background-color: inherit;*/
    margin: 20px!important;
    padding: 5px !important;
}

.k-button.k-grid-activate:hover{
    color: #5cb85c; /*#4C934C;/*#286B2F;*/
}

.k-button.k-grid-suspend:hover{
    color: #f0ad4e; /*#CC9447;/*#C98022;*/
}

.k-button.k-grid-abolish:hover{
    color: #d9534f;/*#B24745; /*#9B0617;*/
}

.label-active{
   margin-right: 25px;
   margin-left: 10px;   
   vertical-align: top; /*text-top;*/
}

.label-suspended{
    margin-right: 10px;
   vertical-align: top; /*text-top;*/
}

.label-abolished{
   margin-right: 10px;
   vertical-align: top; /*text-top;*/
}

#general_info, #rating_info{
   margin:20px 20px 20px 43px;
}

.general_info_item1, .general_info_item2, .general_info_item3, .oRating_info_item, .tRating_info_item {
    margin:7px 0px;
}

.full_label{
    width:160px;
    text-align: right;
    float:left;
}

.rating_label{
    text-align: right;
    float:left;  
}

.full_contact_label{
    float: left;
    width: 85px;  
}

.full_data{
}

.rating_data{
    /*float:left;*/
}

.general_info_label{
/*    display: inline-block;    
    margin-left: 3px;*/
    font-weight: bold;
}

.contact_info_label{
    font-weight: bold;
    margin-left: 2px;
}

.general_info_data{
    /*display: inline-block;*/
    margin-left: 10px;
}

.grey-font{
     color: #7A7A7A;   
}

#oRating, #tRating{
    /*float:left;*/
    /*margin-left:5px;*/
}