/* 
    Document   : schoolUnitsGridDetailRow
    Created on : 9 Νοε 2013, 4:55:39 μμ
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

.details-row{
    height: 100%;
}

#labs-grid{
    float: left;
    left: 6px;
    margin-bottom: 5px;
    width: 99%;
}

#school-unit-details{
    float: left;
    margin: 5px 50px 5px 5px;
    padding: 5px;
}

#labs-summary{
    float: left;
    margin: 5px 50px 5px 5px;
    padding: 5px;
}

#labs-summary h4{
    font-size: 14px;
    font-weight: bold;
}

#school-unit-details h4{
    font-size: 14px;
    font-weight: bold;
}

.contact-details, .lab-summary{
    list-style-type:none;
    margin: 0 0 10px 15px;
    padding:0px;
}


#contact-details{
    margin-left: 15px;
    width:350px;
}

#lab-summary{
    list-style-type:none;
    margin: 0 0 0px 15px;
    padding:0px;    
}

.lab_summary_full_label{
    /*float:left;*/
}

.lab_summary_full_label span{
    padding: 0.1em 0.7em;
}

.lab_summary_label{
    margin-left:2px;
}

.lab_summary_label{
    font-weight: bold;
}

.contact-details-mail, .contact-details-phone, .contact-details-address{
    margin: 2px 0;
}

.contact_info_data{
    margin-left: 2px;
}


/*#labs-grid .btn-xs {
    padding: 2px 7px;
    margin: 0px 3px 0px 3px;
}*/


.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
    min-width: 25px;
}

#labs-summary ul li:last-child{
    margin-left: 6px;
    margin-top: 6px;
}

.lab_type_selected{
   border-left: thick solid green;
}

/*.k-grid .k-edit.k-icon {
    background-position: 0 0 ;
    background-image:url('//...');
}*/


/*.glyphicon-pencil:before {
    content: "✏";
}*/

