.results_info{
    float:right;
    /*margin-right: 65px;*/
}

.toolbar_filter{
    float:right;
}

.lab_types_count{
    float:right;
    margin-bottom: 0px;
}

.labs_count_label{
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 15px;
    border-right: thick solid #8EBC00;
}