/* 
    Document   : all
    Created on : 16 Απρ 2014, 3:40:22 μμ
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/


table, td, k-toolbar, k-pager-wrap
{
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size: 13px;
}


/*απόκρυψη edit buttons στα details ενος lab όπου χρειάζεται */
#lab_relations_details .k-grid-edit{
    display: none;
}

#lab_workers_details .k-grid-edit{
    display: none;
}


/*διαμόρφωση των δεδομένων μέσα στις στήλες του grid - τελίτσες αντι για text overflow*/
:root * > .k-icon, *:root * > .k-sprite, *:root * > .k-button-group .k-tool-icon {
    margin-top: 5px;
}

.k-button .k-icon, .k-hierarchy-cell .k-icon {
    margin-top: 0;
}

/*wrap grid's td columns text*/
/*.k-grid tbody > tr:not(.k-detail-row) > td{
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

.k-grid table {
    table-layout: fixed;
}


/*διαμόρφωση του panelbar της αναζήτησης*/
#search-form #panelbar{ /*k-widget*/
    /*border-style: none;*/
}

#search-form #panelbar > .k-item > .k-link{  /*k-panelbar*/
    /*border-bottom-style: none;*/
}

/*min width για button, αφορά το info button στο school units grid*/
.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button, .k-grid tbody button.k-button {
    min-width: 21px;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right: 57px;
    display:none;
    text-indent:-9999px;
    background: url('../icons/icon_top.png') no-repeat;
}


.psd_icon{
    float:left;
    padding-left: 3px;
    padding-top: 4px;
}

.state_green{
    color:#55B262;
}

.state_orange{
    color: #F9AB52;
}

.state_red{
    color:#DD3346;
}