/* 
    Document   : labCreationForm
    Created on : 9 Νοε 2013, 5:08:54 μμ
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

.k-edit-form-container {
     width: auto;  /*the width of the editor window will be determined by the content's size.*/
}

/*αφορά τον firefox και το default css που δίνει σε υποχρεωτικα πεδία / validation */
/*input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:none;
}*/

