/* 
    Document   : styles
    Created on : 5 Μαρ 2015, 11:49:38 πμ
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

body {
  position: relative; 
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 13px;
  padding-bottom: 40px;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

/* αφορά όλα τα labels */
label{
    margin: 5px 0px 0px 0px;
}

.k-alt, .k-separator {
    background-color: #f5f5f5;
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    background-color: #7ea700;
    border-color: #7ea700;
    color: #fff;
}

/* αφορά τα placeholders των multiselect */
.k-multiselect-wrap>.k-input {
   color: #8E8E8E;
}

/* HIDE GRID'S VERTICAL SCROLLER */
.k-grid-header
{
   padding: 0 !important;
}

.k-grid-content
{
   overflow-y: hidden;
}

/* scrolling fix for firefox */
.k-ff {
    overflow: inherit !important;
}

/* disable firefix input validation red border style */
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

.k-edit-form-container {
     width: auto;  /*the width of the editor window will be determined by the content's size.*/
}

table, td, k-toolbar, k-pager-wrap
{
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size: 13px;
}

/*απόκρυψη edit buttons στα details ενος lab όπου χρειάζεται */
#lab_relations_details .k-grid-edit{
    display: none;
}

#lab_workers_details .k-grid-edit{
    display: none;
}

/*διαμόρφωση των δεδομένων μέσα στις στήλες του grid - τελίτσες αντι για text overflow*/
:root * > .k-icon, *:root * > .k-sprite, *:root * > .k-button-group .k-tool-icon {
    margin-top: 5px;
}

.k-button .k-icon, .k-hierarchy-cell .k-icon {
    margin-top: 0;
}

.k-grid table {
    table-layout: fixed;
}

/* min button width, αφορά το info button στο school units grid */
.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button, .k-grid tbody button.k-button {
    min-width: 21px;
}

/* scroll to top arrow */

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right: 57px;
    display:none;
    text-indent:-9999px;
    background: url('../icons/icon_top.png') no-repeat;
}


/* lab state colored bullets green-orange-red */

.state_green{
    color: #ADEA2A;/*#90C226;*/
}

.state_orange{
    color: #FC8E4E; /*#E76618;*/
}

.state_red{
    color: #E5432D; /*#C42F1A;*/
}

/* kendo style class changes */

.k-grid-header .k-header {
    text-align: center;
    font-weight: bold;
}