/* 
    Document   : alerts
    Created on : 9 Νοε 2013, 5:10:33 μμ
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/


#no-labs-msg{
    text-align: center;
    margin: 10px;
}

.alert-msg{
    margin: 5px;
    padding: 5px;
    text-align: center;
    /*display: none;*/
}