/* 
    Document   : alerts
    Created on : 9 Νοε 2013, 5:10:33 μμ
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/*#views-bar-buttons button:active{
    background-color: red;
}*/

.viewButtonIsSelected{
   background-color: red; 
}