<!-- school unit details external template -->

<script id="school_unit_details_template" type="text/x-kendo-template">

    <div style="text-align: right; font-size: 13px; margin-top:5px; font-weight:600;"> Διατάξεις Η/Υ: #=labs.length# </div>
    <div id="school_unit_labs" style="margin:10px 0px;"> </div>    

</script>

<!--
<div style="text-align: center; font-size: 15px; margin-top:10px; font-weight:600;"> Διατάξεις Η/Υ της Σχολικής Μονάδας #=school_unit_name# </div>

<span data-bind="text: name"/>   

    <div    data-role="grid"
            data-bind="source: labs, events: {edit: LabsViewVM.createLab}"
            data-detail-init="LabsViewVM.detailInit"
            data-detail-template= 'lab_details_template'
            data-selectable="row"
            data-scrollable= "false"
            data-sortable= "{'allowUnsort': false}"
            data-pageable="{ 'pageSizes': [15, 20, 25, 30, 50], 
                             'messages':  { 'display': '{0}-{1} από {2} διατάξεις Η/Υ', 
                                            'empty': 'Δεν βρέθηκαν διατάξεις Η/Υ',
                                            'itemsPerPage': 'διατάξεις Η/Υ ανά σελίδα', 
                                            'first': 'μετάβαση στην πρώτη σελίδα',
                                            'previous': 'μετάβαση στην προηγούμενη σελίδα',
                                            'next': 'μετάβαση στην επόμενη σελίδα',
                                            'last': 'μετάβαση στην τελευταία σελίδα' }}"
            data-editable="{ 'mode' : 'popup', 'template': $('\#lab_create_template').html()}"
            data-toolbar="[{ 'template' : $('\#lab_toolbar_template').html()  }]"
            data-columns="[{ 'field': 'lab_id', 'title':'κωδικός', 'width':'5%', 'hidden' : true},
                           { 'field': 'name', 'title':'ονομασία', 'width':'40%'},
                           { 'field': 'lab_type', 'title':'τύπος', 'width':'15%'},
                           { 'field': 'state', 'title':'κατάσταση', 'width':'10%'},
                           { 'field': 'operational_rating', 'title':'βαθμολογία', 'width':'10%'},
                           { 'command': [{'text':'Ενεργοποίηση', 'click':LabsViewVM.transitLab, 'name':'activate'}, 
                                         {'text':'Αναστολή', 'click':LabsViewVM.transitLab, 'name':'suspend'},
                                         {'text':'Κατάργηση', 'click':LabsViewVM.transitLab, 'name':'abolish'}], 'title': 'ενέργειες', 'width':'25%'}]">
    </div>
-->